%div
  = link_to 'Back', users_path
%div
  %h1 Events
  %table
    %th
      title
    %th
      description
    %th
      start_time
    %th
      end_time
    %th
      rsvp
    - @events.each do |event|
      %tr
        = render 'events/index_table', event: event